html {
  overflow-y: scroll;
  min-height: 100%;
}

body {
  margin: 0 auto;
  font-family: serif;
  font-size: 13px;
  background: #fafafa;
  min-height: 100vh;
}

#root, .site-content, .content-main {
  min-height: 100vh;
  overflow:auto;
}
