.content-main {
  align-items: center;
  background: #fafafa;
}

.feed-index-wrapper {
  width: 1002px;
  margin: 0 auto;
  padding-top: 83px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #fafafa;
}

.feed-index {
  width: 602px;
  margin: 0 auto;
}

.question-index-item, .feed-answer-index-item, .answer-index-item {
 font-style: serif;
 font-size: 18px;
 padding: 16px;
 border-radius: 4px;
 margin-bottom: 8px;
 border-bottom: 1px solid #e2e2e2;
 background: white;
}

.feed-answer-index-item {
 border: 1px solid #efefef;
}

.answer-question-title{
  font-weight: bold;
}

.question-index-title{
  font-weight: bold;
}

.search-form {
  color: black;
}
