.content-main {
  align-items: center;
  background: #fafafa;
}

.feed-index-wrapper {
  width: 1002px;
  margin: 0 auto;
  padding-top: 83px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #fafafa;
}

.feed-index {
  width: 602px;
  margin: 0 auto;
}

.question-index-item, .feed-answer-index-item {
 font-style: serif;
 font-size: 18px;
 padding: 16px;
 border-radius: 4px;
 margin-bottom: 8px;
 border-bottom: 1px solid #e2e2e2;
 background: white;
}

.answer-index {
  display: flex;
  flex-direction: column;
}

.answer-index-item {
  width: 100%;
  font-style: serif;
  font-size: 18px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  background: white;
  padding: 16px;
  padding-left: 0px;
  padding-right: 0px;
}

.feed-answer-index-item {
 border: 1px solid #efefef;
 padding: 16px, 16px, 16px, 0px;
}

.feed-answer-author-name {
  position: relative;
  margin-top: 10px;
  min-height: 40px;
  // margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
}

.feed-answer-title:hover {
  text-decoration: underline;
}

.answer-question-title{
  font-weight: bold;
}

.question-index-title{
  font-weight: bold;
}

.search-form {
  color: black;
}

.answer-topic-list, .question-topic-list {
  color: #949494;
  font-size: 13px;
  margin-bottom: 5px;
}

.answer-body {
  font-size: 16px;
}

.quill {
  background: white;
}

strong {
  font-weight: bold !important; 
}

.feed-answer-created-time {
  font-size: 13px;
  color: #949494;
}

// .ql-editor.ql-blank::before {
//     color: #949494;
//     content: attr(data-placeholder);
//     font-style: normal;
//     pointer-events: none;
//     position: absolute;
// }
