.feed-index-wrapper, .topic-show-wrapper {
  display: flex;
  width: 1002px;
  margin: 0 auto;
  padding-top: 83px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.feed-index, .topic-show {
  width: 602px;
  padding-left: 12px;
  margin-left: 30px;
}

.question-index-item, .feed-answer-index-item {
 font-style: serif;
 font-size: 18px;
 padding: 16px;
 border-radius: 4px;
 margin-bottom: 8px;
 border-bottom: 1px solid #e2e2e2;
 background: white;
 border: 1px solid #efefef;
}

.topic-header {
  display: flex;
  height: 158px;
  font-style: serif;
  font-size: 23px;
  font-weight: bold;
  color: #333;
  padding-top: 16px;
  border-radius: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
  background: white;
  border: 1px solid #efefef;
}

.answer-topic-list, .question-topic-list {
  color: #949494;
  font-size: 13px;
  margin-bottom: 5px;
}

.topic-header-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 66%;
}

.follow-button {
  font-weight: normal;
  font-size: 15px;
}

.answer-question-title{
  font-weight: bold;
}

.feed-answer-title:hover {
  text-decoration: underline;
}

.feed-answer-header {
  position: relative;
  margin-top: 10px;
  min-height: 40px;
  // margin-bottom: 5px;
  font-size: 15px;
  line-height: 1.4;
}

.feed-answer-header-open {
  display: none;
}

.feed-answer-created-time {
  font-size: 13px;
  color: #949494;
}

.answer-body {
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.question-index-title{
  font-weight: bold;
}

.answer-options {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
  font-weight: 400px;
  margin-left: -12px;
  margin-right: -5px;
  margin-bottom: 4px;
}

.answer-upvote-button-, .answer-upvote-button-upvoted, .answer-delete-button, .answer-update-button {
  border-radius: 40px;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  padding-left: 12px!important;
  padding-right: 12px!important;
}

.answer-downvote-button-, .answer-downvote-button-downvoted {
  border-radius: 40px;
  padding: 5px;
}

.answer-downvote-button-:hover, .answer-upvote-button-:hover, .answer-upvote-button-upvoted:hover, .answer-downvote-button-downvoted:hover, .answer-delete-button:hover, .answer-update-button:hover {
  background: #fafafa;
}

.answer-downvote-button-downvoted, .answer-upvote-button-upvoted {
  color: blue;
}

.answer-submit-form-closed, .answer-update-options-open, .answer-body-open {
  display: none;
}
