.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  color: white;
  border-top: 0;
  border-bottom: 1px solid #ddd;
  position: fixed;
  min-height: 50px;
  box-sizing: border-box;
  z-index: 800;
  font-size: 14px;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.nav-main {
  display: flex;
  margin: 0 auto;
  width: 1002px;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
}

.header-list-left {
  display: flex;
  justify-content: space-between;
}

.header-left-link {
  width: 95px;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-left-logo {
  padding-right: 8px;
}

.header-logo {
  font-size: 25px;
  font-weight: bolder;
  color: #b93029;
  line-height: 50px;
}

.header-link {
  min-width: 96px;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #b93029;
  border-radius: 3px;
}

.header-left-link:hover {
  // border-bottom: 2px solid #b93029;
  background: #fafafa;
}

.header-list-right {
  display: flex;
  max-height: 26px;
}

.ask-question-button {
  padding: 3px 7px 4px 7px;
  margin-left: 8px;
  min-width: 96px;
  box-sizing: border-box;
  font-weight: 500;
  text-align: center;
  color: #fff;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  border: 1px solid #b92b27;
  border-radius: 3px;
  background: #b92b27;
}

.logout-button {
  padding: 3px 7px 4px 7px;
  margin-left: 8px;
  min-width: 66px;
  box-sizing: border-box;
  font-weight: 500;
  text-align: center;
  color: black;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  border: 1px solid #b92b27;
  border-radius: 3px;
}

.search-form {
  font-size: 15px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  background: white;
  width: 250px;
  color: black;
}

.search-input {
  padding: 3px 8px;
}

.search-match-list-open {
  border-radius: 3px;
  width: 250px;
  border: 1px solid #e2e2e2;
  background: white;
  margin-top: 12px;
  position: absolute;
}

.search-result {
  border-bottom: 1px solid #e2e2e2;
  padding: 8px 12px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
}

.search-result:hover {
  background: #e6e6e6;
}
