.question-form {
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 3px;
  position: fixed;
  top: 20%;
  left: 25%;
}

.question-form-header {
  background: #fafafa;
  border-bottom: 1px solid #e2e2e2
}

.add-question-tab-button {
  font-weight: 500;
  color: #666;
  text-align: center;
  float: left;
}

.question-form-content {
  display: flex;
  flex-direction: column;
}

.question-title-input {
  padding: 32px 0px 24px 24px;
  width: 100%;
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
  line-height: 1.3;
}

.question-form-footer {
  width: 600px;
  background: #fafafa;
  color: #949494;
  padding: 10px;
  border-top: 1px solid #e2e2e2
}

.question-form-cancel {
  float: right;
}

.question-submit-button {
  float: right;
  font-size: 15px;
  line-height: 1.4;
  border-radius: 3px;
  font-weight: 500;
  padding: 3px 7px 4px 7px;
  margin-left: 5px;
  background: #3a66ad;
  color: white;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.6);
}

.answer-body {
  font-size: 16px;
  font-weight: normal;
}

.session-errors-list {
  list-style-type: disc;
}
