.topics-list-container {
  width: 142px;
}

.topics-list-link {
  margin-bottom: 8px;
  padding: 4px;
  margin-left: -4px;
  border-radius: 3px;
}

.index-topic-name {
  font-size: 13px;
  font-weight: 400;
  font-family: Arial;
  color: #666;
}

.clicked {
  background: #e6e6e6;
}
