.topics-select {
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 50px;
}

.topics-select-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

label > input {
  margin-right: 10px;
}
