/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url("quora.png");
   display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   font-family: serif;
 }

.login-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding-top: 25px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  width: 650px;
  background: white;
  margin: 0 auto;
  top: 10%;
}

.sequoia-logo {
  font-size: 70px;
  font-weight: bolder;
  color: #b93029;
  margin: 0 auto;
}

.tagline {
  font-family: serif;
  font-size: 19px;
  font-weight: 400;
  color: #949494;
  text-align: center;
  margin: 8px 0 32px;
}

.login-form-box {
  margin: 0 auto;
  height: 300px;
}

.header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  box-sizing: border-box;
  z-index: 800;
  font-size: 14px;
  color: #666;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2);
}

.ask-question-button {
  margin-left: 8px;
  min-width: 96px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  display: inline-block;
  font-weight: 500;
  padding: 3px 7px 4px 7px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #b92b27;
  background: #b92b27;
  color: #fff;
}

.header-logo {
  font-size: 25px;
  font-weight: bolder;
  color: #b93029;
}

.header-list-left {
  float: left;
}

.header-list-right {
  float: right;
}

.feed-index {
  background: white;
  width: 602px;
}

.question-form {
  background: white;
}

ul {
  list-style: none;
}

.question-index-item {
  font-style: serif;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
}

.question-show {
  background: white;
  font-style: serif;
  font-weight: bold;
  font-size: 18px;
  padding: 16px;
  border: 1px solid #efefef;
  border-radius: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e2e2e2;
}
