/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-image: url("quora.png");
   display: flex;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
 }

.login-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding-top: 25px;
  position: absolute;
  bottom: initial;
  left: 0;
  right: 0;
  width: 650px;
  background: white;
  margin: 0 auto;
  top: 10%;
}

.sequoia-logo {
  font-size: 70px;
  font-weight: bolder;
  color: #b93029;
  margin: 0 auto;
}

.tagline {
  font-family: serif;
  font-size: 19px;
  font-weight: 400;
  color: #949494;
  text-align: center;
  margin: 8px 0 32px;
}

.login-form-box {
  margin: 0 auto;
  height: 300px;
}

.header {
  background: white;
}

.feed-index {
  background: white;
}

.question-show {
  background: white;
}

.question-form {
  background: white;
}
